body,
body > header,
main,
body > footer {
	width: 100%;
}

body {
	margin: 0px;
}

body > header,
body > footer {
	background-color: white;
	box-shadow: 0px 0px 5px black;
	position: fixed;
}

body > header {
	height: 40px;
	top: 0px;
	padding: 0px 5px;
}

body > header h1 {
	font-size: 14pt;
}

body > footer {
	height: 68px;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
}

body > footer > div {
	height: 64px;
	width: 64px;
	margin: 2px;
}

main {
	margin-top: 40px;
	height: calc(100vh - 108px);
}

article {
	margin-left: 5px;
	margin-right: 5px;
	height: 100%;
	overflow: auto;
}

.icon {
	box-shadow: 0px 0px 3px black;
	border-radius: 3px;
}

.icon a {
	display: block;
	height: 100%;
	width: 100%;
	color: transparent;
}

#page_container {
	display: flex;
	flex-wrap: wrap;
}

#page_container .col {
	text-align: center;
	margin: 8px 5px;
}

#page_container .col > span {
	display: block;
}

#book,
#chapter {
	margin: 10px 0px;
}

#book a,
#chapter a {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	background-color: #ccc;
	box-shadow: 0px 0px 3px black;
}

ul,
ul li {
	list-style-type: none;
	padding: 0px;
}

ul li a {
	display: block;
	padding: 5px;
	background-color: #ccc;
	box-shadow: 0px 0px 3px black;
	margin: 7px 3px;
}
